* {
    margin: 0;
    padding: 0;
}

table {
    margin: 0 auto;
    padding: 12px;
}

th {
    background: crimson;
    padding: 1px 10px;
    font-family: 'Palatino Linotype';
    text-align: center;
}

td {
    background: cornsilk;
    padding: 1px 10px;
    font-family: 'Lucida Sans';
    text-align: center;
}

h1 {
    text-align: center;
    padding: 14px;
}

h2 {
    text-align: center;
    padding-top: 8px;
}

form {
    text-align: center;
    margin-top: 14px;
}

input {
    margin: 10px 0;
}

#submit {
    padding: 4px;
}
