* {
    margin: 0;
    padding: 0;
}

table {
    margin: 0 auto;
    padding: 12px;
}

th {
    background: crimson;
    padding: 1px 10px;
    font-family: 'Palatino Linotype';
    text-align: center;
}

td {
    background: cornsilk;
    padding: 1px 10px;
    font-family: 'Lucida Sans';
    text-align: center;
}

h1 {
    text-align: center;
    padding: 14px;
}

h2 {
    text-align: center;
    padding-top: 8px;
}

form {
    text-align: center;
    margin-top: 14px;
}

div {
    text-align: center;
}

div form {
    text-align: center;
    padding: 15px 100px;
    display: inline-block;
    background: moccasin;
}

div.actualizar form {
    background: beige;
    border: 3px solid white;
    outline: 1px solid gainsboro;
    box-shadow: inset 0 0 10px black;
}

input {
    margin: 10px 0;
}

a {
    align-items: center;
}

#submit {
    padding: 4px;
}

.button {
    margin: 2px 2px;
    padding: 2px 5px;
}

div > hr {
    height: 1px;
    margin-top: 14px;
    background: black;
}
